body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(58, 58, 58);
}
.box{
    color: white;
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5)
}
fieldset{
    border: 3px solid palegreen;
    color: rgb(175, 175, 175);
}
legend{
    border: 1px solid palegreen;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(29, 29, 29, 0.5);
    text-align: center;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid palegreen;
    outline: none;
    color: white;
    font-size: 20px;
    width: 100%;
    letter-spacing: 2px;
}
#dataNascimento{
    border: none;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
}
#submit{
    background-image: linear-gradient( palegreen, rgb(13, 48, 0));
    border: none;
    width: 100%;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
#submit:hover{
    background-image: linear-gradient(to right, rgb(130, 255, 130), rgb(35, 131, 0));
}